<h1>Books</h1>
<table>
<thead>
  <tr>
    <th></th>
    <th>Titlr</th>
    <th>Opinion</th>
  </tr>
</thead>
<tbody>
<% @book.each do |book| %>
 <tr>
   <td></td>
   <td><%= book.title %></td>
   <td><%= book.body %></td>
 </tr>
</tbody>
</table>