<h1>Books detail</h1>
<table>
  <tbody>
    <tr>
      <td>
        <p><%- @book.user.name %></p>
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      
      <% if @book.user == current_user %> <!--current_userã®_!-->
      <td>
      <!--%= link_to "Edit",-->
      </td>
      <td>
      <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
