<h1>Books detail</h1>
<table>
  <tbody>
    <tr>
      <td>
        <p><%- @book.user.name %></p>
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>
